footer &copy;  #{new Date().getFullYear()} Wetube
//- footer요소는 주로 저작권 정보나 서비스 제공자 정보등을 나타냅니다.
//- footer include → pug가 page rendering  → 평범한 HTML 변환

//- HTML의 한 조각을 나태내고, data를 받지 못해(video.pug ㄱㄴ)
